@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Poppins', sans-serif;
}
.slide {
    height: 100%;
    width: 300px;
    position: fixed; 
    top: 0;
    right: -300px; 
    background-color: white;
    transition: 0.5s ease;
}

h1 {
	color:beige;
    font-weight: 800;
    text-align: left;
    padding: 10px 0;
    padding-right: 30px;
    pointer-events: none;
    margin-left: 20px;
}

ul li {
    list-style: none;
}

ul li a {
    color: beige;
    font-weight: 500;
    padding: 5px 0;
    display: block;
    text-transform: capitalize;
    text-decoration: none;
    transition: 0.2s ease-out;
}

ul li a {
    width: 200px;
    text-align: left;
    margin-left: 20px;
}

ul li:hover a {
    color:rgba(64, 64, 161) ;
    background-color:beige;
    width: 300px;
}

input {
    display: none;
    visibility: hidden;
}

.toggle {
    position: absolute; 
    height: 50px;
    width: 50px;
    top: 5px;
    right: 30px;
    z-index: 3;
    background-image: url('menu_icon.png');
    background-color: beige;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.toggle .common {
    position: absolute;
    height: 2px;
    width: 20px;
    background-color: purple;
    border-radius: 50px;
    transition: 0.3s ease;
    z-index: 2;
}

input:checked ~ .slide {
    right: 0; 
    box-shadow: 0 0 15px rgba(0, 0 , 0, 0.5);
    background-color:rgba(64, 64, 161, 0.5);
    z-index: 2;

}
body {
    background-image: url("poza_capitole.jpg");
    background-size: cover; 
    margin: 0; 
    padding: 0; 
}
.white-rectangle {
    width: 100vmax; 
    height: 100px; 
    background-color: rgba(255, 255, 255, 0.5) ;
    position: absolute;
    margin-top: 0px;
}
.style_text_code{
    font-size: 17px;
    font-family:'Consolas' ;
    line-height: 0.5;
    position:absolute;
    margin-top: 10px;
}
.style_text_heading {
    margin-top: 10px;
    margin-left: 30px;

    font-size: 70px;
    font-family:'Franklin Gothic Medium';
    color: rgba(64, 64, 161);
    z-index:1;
}
.style_text_subtitle{
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 30px;
    font-size: 40px;
    font-family:'Franklin Gothic Medium';
    color:rgb(120, 32, 0);
    z-index:1;
}
.rectangle_code {
    font-size: 15px;
    font-family:'Consolas' ;
    line-height: 1.25;
    flex-basis: 31%;
    background-color: rgba(255, 255, 255, 0.5);
    color: rgb(64, 64, 161);
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 20px 12px;
    box-sizing: border-box;
    position: relative;
    margin:10px;
}
.rectangle_output{
    display: inline-block; 
    padding: 10px;
    border-radius: 20px;
    margin: 10px;
    color: beige;
    background-color: black;
    font-size: 15px;
    font-family:'Consolas' ;
    line-height: 1.25;
    position: relative;
}
.row{
    margin-top: 160px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    position: absolute;
}
.teorie{
    flex-basis: 31%;
    background-color: rgba(255, 255, 255, 0.5);
    color: rgb(64, 64, 161);
    border-radius: 10px;
    margin:10px;
    padding: 20px 12px;
    box-sizing: border-box;
    text-align: justify;
}
.square li {
    list-style-type: square;
    margin-left: 20px; 
    color:rgb(120, 32, 0);
    font-weight: bold;
}
.subcapitole{
    margin-left: 100px;
    list-style-type:square;
    color: beige;
}
.containter{
    position: relative;
}
p{
    text-indent: 10px;
}

.spacer {
    height: 560px;
}

.to_questions{
    background-color: black;
    color:#FFDAB9;
    border-color: #4040a1;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 10px;
    font-size: large;
    font-family: 'Franklin Gothic Medium';
    width: 400px;
    height: 60px;
    cursor: pointer;
    z-index: 1;
    margin-top:30px;
    justify-content: center;
        margin-top: auto; /* Pushes the button to the bottom */
        align-self: center; /* Center the button horizontally */
        margin-bottom: 20px; /* Add some space at the bottom */
    
}